@page "/about"
@using System.Reflection

<PageTitle>About Solis Manager</PageTitle>

<h3>Solis Agile Manager @Version</h3>

<h5>&copy; 2019-@DateTime.Now.Year Mark Otway, All rights reserved.</h5>

<p>This app is designed to optimally manage the battery charging for your Solar/PV/Battery system, when used with the Octopus Agile tariff.</p>

<h4>Disclaimer</h4>

<p>PLEASE NOTE: This application is provided as-is, with no guarantees; I accept no liability for any issues that arise with your electricity bill,
    inverter, battery, or any other system, as a result of using this application. Your choice to run the app is entirely at your own risk.</p>
    
<p>For more information, please visit the <strong><a href="https://github.com/webreaper/solisagilemanager" target="_blank">GitHub Repository</a></strong>.</p>

<h4>Other software I've Written</h4>

<p>If you like this app, please check out some of my other applications, including a Photo Management system 
    called <strong><a href="https://github.com/webreaper/damselfly" target="_blank">Damselfly</a></strong></p>

<p>
    Solis Agile Manager is free, open-source software. But if you find it useful, and fancy buying me a coffee or a 
    slice of pizza, that would be appreciated! You can do this via my Damselfly BuyMeACoffee link.
    <div>
        <a href="https://www.buymeacoffee.com/damselfly" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/arial-yellow.png" alt="Buy Me A Coffee" height="41" width="174">
        </a>
    </div>
</p>

@code {
    private string? Version;
    protected override void OnInitialized()
    {
        Version = "v" + Assembly.GetExecutingAssembly().GetName().Version;

        base.OnInitialized();
    }

}
