@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@DarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider/>

<CascadingValue Value="@DarkMode">
    <div class="page">
        @if (showSidebar)
        {
            <div class="sidebar">
                <NavMenu/>
            </div>
        }

        <main>
            <article class="content px-4">
                <ConfigValidator @bind-ConfigIsValid="@showSidebar">
                    @Body
                </ConfigValidator>
            </article>
        </main>
    </div>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool showSidebar = true;
    
    private bool DarkMode = true;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            DarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }
}