.view-selections {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    margin: 3px;
}

.selected-view {
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.selected-view-dark {
    color: lightgray;
    border: 2px solid lightgray;
}

.selected-view:hover {
    background-color: lightgray;
    transition: background-color 0.5s ease-in;
}

.selected-view-dark:hover {
    background-color: rgb(100, 100, 100);
}

.deselected-view {
    cursor: pointer;
    color: darkgray;
    border: 1px solid gray;
    border-radius: 4px;
}

.deselected-view:hover {
    background-color: rgba(150, 150, 150, 0.7);
    transition: background-color 0.5s ease-in;
}
