.view-selections {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    margin: 3px;
}

.selected-view {
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.selected-view:hover {
    background-color: lightgray;
    transition: background-color 0.5s ease-in;
}

.deselected-view {
    cursor: pointer;
    color: darkgray;
    border: 1px solid gray;
    border-radius: 4px;
}

.deselected-view:hover {
    background-color: lightgray;
    transition: background-color 0.5s ease-in;
}
