
<MudDialog>
    <TitleContent>
        <h6>@title</h6>
    </TitleContent>
    <DialogContent>
        <div class="action-list">
            @if (AvailableActions != null && AvailableActions.Any())
            {
                @foreach (var action in AvailableActions)
                {
                    <ActionIcon Action="action" OnActionChanged="() => OnActionClicked(action)"
                                WithLabel="true" Size="Size.Large"/>
                }
            }
        </div>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public OctopusPriceSlot? Slot { get; set; }
    [Parameter] public SlotAction[]? AvailableActions { get; set; }

    private string? title;
    
    protected override Task OnInitializedAsync()
    {
        if( Slot != null)
            title = $"Manual Action for {Slot.valid_from:HH:mm} - {Slot.valid_to:HH:mm}";

        return base.OnInitializedAsync();
    }

    private void OnActionClicked(SlotAction action)
    {
        MudDialog?.Close(DialogResult.Ok(action));
    }
    
}