.time-selection { 
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: baseline;
    min-width: 400px;
    justify-content: space-evenly;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
}