.action-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.selection-item {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 10px;
    flex-wrap: nowrap;
}

::deep .schedule-control {
    width: 200px;
}

.error-msg {
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
}

.introduction {
    width: auto;
    max-width: 700px;
}

.time-selection { 
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    min-width: 400px;
    justify-content: space-evenly;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
    min-width: 500px;
}