
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">Scheduled Item </MudText>
    </TitleContent>
    <DialogContent>
        <div class="time-selection">
            <SlotPicker @bind-SlotTime="ScheduledAction.StartTime" Label="Start"/>
            <SlotPicker @bind-SlotTime="ScheduledAction.EndTime" Label="End"/>
        </div>
        <MudSelect @bind-Value="ScheduledAction.Action" Label="Action">
            <MudSelectItem Value="@SlotAction.Charge">Charge</MudSelectItem>
            <MudSelectItem Value="@SlotAction.Discharge">Discharge</MudSelectItem>
            <MudSelectItem Value="@SlotAction.ChargeIfLowBattery">Charge If Low Battery</MudSelectItem>
        </MudSelect>
        @if( !string.IsNullOrEmpty(errorMsg) )
        {
            <p>@errorMsg</p>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    [Parameter] public ScheduledAction ScheduledAction { get; set; } = new();

    private void Save()
    {
        MudDialog?.Close(DialogResult.Ok(true));
        StateHasChanged();
    }

    private string errorMsg;

    private void DisplayError(string errorText)
    {
        errorMsg = errorText;
        StateHasChanged();
    }

    void Cancel()
    {
        MudDialog?.Cancel();
    }

}