
@if (ChargePercentage != null)
{
    <div class="battery-indicator" title="Battery state-of-charge">
        <div class="battery-box">
            @foreach (var block in Enumerable.Range(0, fullBlocks))
            {
                <div class="@BlockStyle"></div>
            }
            @foreach (var block in Enumerable.Range(0, emptyBlocks))
            {
                <div class="empty-block"></div>
            }
        </div>
        <strong>@ChargePercentage%</strong>
    </div>
}

@code {
    [Parameter]
    public int? ChargePercentage { get; set; }

    int emptyBlocks;
    int fullBlocks;

    private string BlockStyle => "full-block " + ChargePercentage switch
    {
        <= 25 => "full-block-25",
        <= 50 => "full-block-50",
        <= 75 => "full-block-75",
        _ => "full-block-100",
    };

    protected override void OnParametersSet()
    {
        emptyBlocks = 10;
        fullBlocks = 0;
        
        if (ChargePercentage != null)
        {
            fullBlocks = (int)Math.Round(ChargePercentage.Value / 10.0, MidpointRounding.AwayFromZero);
            emptyBlocks = 10 - fullBlocks;
        }

        base.OnParametersSet();
    }
}