.title-bar {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.extra-info {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
}

@media (max-width: 900px) {
    .title-bar {
        flex-direction: column;
    }
    .extra-info{
        width: 100%;
    }
}

.simulate-indicator { 
    color: white;
    background-color: darkred;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}