.strategy-table { 
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: calc(100vh - 40px);
}

.table-chart { 
    flex: 1 1 100%;
    overflow-y: scroll;
    padding-right: 15px;
}

.table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.table-dark {
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0);
}
.table td {
    vertical-align: middle;
}

.table tr:nth-child(2) > td {
    font-weight: bold;
}

::deep .date-row {
    background-image: linear-gradient(180deg, rgba(220, 220, 220, 0.2) 10%, rgba(100, 100, 100, 0.1) 90%);
    font-weight: bold;
}

.valid-from {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    column-gap: 0px;
    align-items: baseline;
}

.title-bar {
    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    row-gap: 5px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.title-and-nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    column-gap: 15px;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.title-text {
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
    .table-chart {
        padding-right: 2px;
    }
    
    .title-and-nav {
        column-gap: 5px;
    }

    .table {
        width: auto;
    }
    .strategy-table {
        height: calc(100vh - 80px);
        row-gap: 3px;
    }
    
    .valid-to {
        display: none;
    }

    .extra-info {
        column-gap: 5px;
    }

    .title-bar {
        column-gap: 3px;
    }
}

.simulate-indicator {
    color: white;
    background-color: darkred;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.summary-row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

