<div class="help-wrapper">
    <div class="child-content">
        @ChildContent
    </div>
    @if (!string.IsNullOrEmpty(HelpText) || HelpContent != null)
    {
        <ToolTipPopover ToolTip="@HelpText" ToolTipContent="@HelpContent">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Help" Class="help-icon"/>
        </ToolTipPopover>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public RenderFragment? HelpContent { get; set; }

    [Parameter] public string HelpText { get; set; } = string.Empty;
}