.config-settings{
    max-width: 600px;
    border-radius: 15px;
    padding: 20px;
    color: black;
    background-color: white;
    margin: 20px;
}

.config-settings h5 {
    margin-top: 15px;    
}

.config-field-row { 
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.button-bar { 
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
