.config-settings{
    max-width: 600px;
    border-radius: 15px;
    padding: 20px;
    color: black;
    background-color: white;
    margin: 20px;
}

.config-settings-dark {
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
}

.config-settings h5 {
    margin-top: 15px;    
}

.config-fields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 5px;
    margin-bottom: 5px;
}

.config-field-row { 
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5px;
    margin-bottom: 5px;
}

.button-bar { 
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tariff-tip {
    font-size: 9pt;
}

::deep .wrapped-field {
    min-width: 230px;
}

