@if (_open)
{
    <div @onclick="ToggleOpen" class="vh-100 vw-100 position-fixed"
         style="top: 0; left: 0; z-index: 1000; background-color:unset;">
    </div>
}

<div class="help-popup">
    <div class="child-content">
        @ChildContent
    </div>
    <MudIcon Icon="@Icons.Material.Filled.Help" Size="Size.Small" @onclick="ToggleOpen" Class="help-icon" Title="Click for help on this setting"/>
    <MudPopover Open="_open" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <div class="help-text">
            <div>
                @if (HelpContent != null)
                {
                    @HelpContent
                }
                else
                {
                    @HelpText
                }
            </div>
            <MudIcon @onclick="@ToggleOpen" Size="Size.Small" Icon="@Icons.Material.Filled.Close" Class="help-icon"/>
        </div>
    </MudPopover>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public RenderFragment? HelpContent { get; set; }

    [Parameter] public string HelpText { get; set; } = string.Empty;
    
    private bool _open = false;
    private void ToggleOpen() => _open = !_open;
}