.update-text {
    font-size: 9pt;
    color: rgba(100,100,100,0.8);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.update-text-dark {
    color: rgba(200,200,200,0.8);
}

.stale-data {
    color: firebrick;
}

.stale-data-dark { 
    color: orangered;
}