
@if (InverterState != null && InverterState.BatteryTimeStamp != DateTime.MinValue)
{
    <div class="@Style">
        Last Inverter/Plan update: @InverterState.BatteryTimeStamp.DisplayDateTime(),
        last Octopus Rates update: @InverterState.TimeStamp.DisplayDateTime(), 
        last Solcast update: @SolcastUpdate
    </div>
}

@code {
    [Parameter] public SolisManagerState? InverterState { get; set; }
    
    [CascadingParameter] public bool DarkMode { get; set; }

    private string Style => "update-text " + (DarkMode ? "update-text-dark" : string.Empty);
    private string SolcastUpdate => InverterState?.SolcastTimeStamp?.DisplayDateTime() ?? "never";
}