
.product-selector{
    display: flex;
    flex: 1;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.region {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    font-weight: bold;
    align-items: center;
    background-color: rgba(145, 129, 47, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
}

.clear-region {
    cursor: pointer;
}