
.action-icon {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.price-text {
    
}
.type-icon {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}


.price-desc {
}

@media screen and (max-width: 900px) {
    .price-desc {
        display: none;
    }
}