@using Humanizer

<div class="action-icon">
    <div class="type-icon" style="@Style" />
    @Description
</div>


@code {
    [Parameter]
    public Shared.Models.PriceType Type { get; set; }

    private string Description => Type switch
    {
        Shared.Models.PriceType.Cheapest => "Cheapest",
        Shared.Models.PriceType.MostExpensive => "Peak",
        Shared.Models.PriceType.BelowAverage => "Lower",
        Shared.Models.PriceType.Dropping => "Reducing",
        Shared.Models.PriceType.BelowThreshold => "Cheap",
        Shared.Models.PriceType.Negative => "Negative",
        _ => "Average"
    };

    private string Style => "background-color: " + Type switch
    {
        Shared.Models.PriceType.MostExpensive => "red",
        Shared.Models.PriceType.Dropping => "darkorange",
        Shared.Models.PriceType.BelowAverage => "gold",
        Shared.Models.PriceType.Cheapest => "darkgreen",
        Shared.Models.PriceType.BelowThreshold => "green",
        Shared.Models.PriceType.Negative => "lightgree",
        _ => "gray"
    } + ";";

}