@using Humanizer

<div class="action-icon">
    <div class="type-icon" style="@Style" />
    <div class="price-text">
        @Math.Round(Price, 2)
    </div>
    <div class="price-desc">
        @Description
    </div>
</div>


@code {
    [Parameter]
    public decimal Price { get; set; }
    [Parameter]
    public PriceType Type { get; set; }

    private string Description => Type switch
    {
        Shared.Models.PriceType.Cheapest => "Cheapest",
        Shared.Models.PriceType.MostExpensive => "Peak",
        Shared.Models.PriceType.BelowAverage => "Lower",
        Shared.Models.PriceType.Dropping => "Reducing",
        Shared.Models.PriceType.BelowThreshold => "Cheap",
        Shared.Models.PriceType.Negative => "Negative",
        Shared.Models.PriceType.IOGDispatch => "EV Charge",
        _ => "Average"
    };

    private string Style => "background-color: " + Type switch
    {
        Shared.Models.PriceType.MostExpensive => "red",
        Shared.Models.PriceType.Dropping => "darkorange",
        Shared.Models.PriceType.BelowAverage => "gold",
        Shared.Models.PriceType.Cheapest => "darkgreen",
        Shared.Models.PriceType.BelowThreshold => "green",
        Shared.Models.PriceType.Negative => "lightgreen",
        Shared.Models.PriceType.IOGDispatch => "lightblue",
        _ => "gray"
    } + ";";

}