@using System.Reflection
@inject IDialogService dialogService

<div>
    <MudButton OnClick="OpenScheduleDialog" Variant="UIConstants.MudVariant">@ButtonLabel</MudButton>
</div>

@code {
    [Parameter]
    public List<ScheduledAction>? Actions { get; set; }
    
    [Parameter]
    public EventCallback<List<ScheduledAction>> ActionsChanged { get; set; }

    private string ButtonLabel => Actions == null || Actions.Count == 0 ? "Add Scheduled Actions" : $"Edit {Actions.Count} Scheduled Actions";
    private async Task OpenScheduleDialog()
    {
        if (Actions == null)
            Actions = new();
        
        var parameters = new DialogParameters { { "ScheduledActions", Actions } };
        var dialog = await dialogService.ShowAsync<ScheduleDialog>("Scheduled Action", parameters);
        var result = await dialog.Result;

        if (result != null)
        {
            await ActionsChanged.InvokeAsync(Actions);
        }
    }
}