.action-icon {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    white-space: nowrap;
}

::deep .override-icon {
    color: rgba(145, 129, 47, 0.6);
}

.action-desc {
}

@media screen and (max-width: 900px) {
    .action-desc {
        display: none;
    }
}
