.action-icon {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    white-space: nowrap;
}

::deep .slot-icon {
    color: rgba(145, 129, 47, 0.6);
}
::deep .slot-action {
    cursor: pointer;
}

::deep .icon-charge {
    color: royalblue;
}

::deep .icon-discharge {
    color: forestgreen;
}

::deep .icon-noaction {
    color: rgba(200,200,200, 0.8);
}

::deep .icon-boost {
    color: darkorange;
}