@using Humanizer

@if (Slot != null)
{
    <div class="action-icon" title="@Slot.ActionReason">
        <ActionIcon Action="Slot.Action"/>
        @Slot.Action.Description()
        @if (Slot.IsManualOverride)
        {
            <div class="override-icon" title="The slot action has been manually overriden">
                <MudIcon Icon="@Icons.Material.Filled.Person" Title="Manual override"/>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public OctopusPriceSlot? Slot { get; set; }
    
}