.chart-area {
    height: calc(100vh - 200px);
    width: 100%;
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

