
.tooltip-text {
    max-width: 400px;
    padding: 5px;
    margin: 3px;
    background-color: rgba(255, 255, 200, 0.5);
    border: solid 1px darkgray;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
}

.tooltip-text-dark {
    background-color: rgba(60, 60, 30, 0.5);
}

.tooltip-content {
    
}

::deep .close-icon {
    color: darkgray;
    cursor: pointer;
}