@if(Value != null && ( !HideIfZero || Value != 0) )
{
    <ToolTipPopover ToolTip="@FullDescription" ExtraText="@ExtraText">
        <div class="value-chip">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <MudIcon Icon="@Icon"/>
            }
            <strong>@Math.Round(Value.Value, Decimals)</strong>
            @if (!string.IsNullOrEmpty(Units))
            {
                @Units
            }
        </div>
        @if (!string.IsNullOrEmpty(ExtraText))
        {
            
        }
    </ToolTipPopover>
}

@code {
    [Parameter] public decimal? Value { get; set; }
    
    [Parameter] public string Icon { get; set; } = string.Empty;

    [Parameter] public string Units { get; set; } = string.Empty;

    [Parameter] public int Decimals { get; set; } = 1;
    
    [Parameter] public string? Description { get; set; }
    
    [Parameter] public string? ExtraText { get; set; }

    [Parameter] public bool HideIfZero { get; set; } = false;

    private string FullDescription => $@"{Description}: {Math.Round(Value!.Value, Decimals)}{Units}";
}