
@inherits InverterConfigComponentBase<InverterConfigSolis>

<h5>Solis Inverter Settings</h5>
@if (config != null)
{
    <MudTextField T="string" Label="Solis API Key" @bind-Value="@config.SolisAPIKey" @bind-Value:after="ConfigChanged" 
                    Immediate="true" Variant="UIConstants.MudVariant"/>
    <MudTextField T="string" Label="Solis API Secret" @bind-Value="@config.SolisAPISecret"  @bind-Value:after="ConfigChanged"
                  Immediate="true" Variant="UIConstants.MudVariant"/>
    <MudTextField T="string" Label="Solis Inverter Serial Number" @bind-Value="@config.SolisInverterSerial"  @bind-Value:after="ConfigChanged"
                  Immediate="true" Variant="UIConstants.MudVariant"/>
    <ConfigSettingHelp HelpText="Specifies the maximum charge and discharge rate in Amps">
        <MudNumericField T="int" Label="Max Charge Rate (Amps)" @bind-Value="@config.MaxChargeRateAmps"  @bind-Value:after="ConfigChanged"
                         Min="5" Max="95" Variant="UIConstants.MudVariant" class="wrapped-field"/>
    </ConfigSettingHelp>
}

@code {

}